.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(27,30,33);
    color: white;
    padding: 15px 30px;
 }

 .nlinks{
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

.nlinks a{
    color: white;
    text-decoration: none;
}

.navbar a:hover{
    color: orange;
    text-decoration:  underline;
}

#ht{
    text-align: center;
}

#rm{
     width: 500px;
     height: auto;
     margin-left: 30px;
}

#dml{
   justify-content:center
}

.containor{
  display: flex;
  justify-content: center;
  
  margin-top: 100px; 
}
.containor2{
   display: flex;
   justify-content: center;
   
   margin-top: 100px; 
 }
.card{
   width: 3256px;
   border-radius: 30px;
   overflow: hidden;
   box-shadow:8px 8px 16px 0px rgba(0, 0, 0, 0.5);
   margin: 20px;
}
.card9{
   width: 3256px;
 
   overflow: hidden;
   margin: 20px;
}
.card img{
   width: 100%;
   height: auto;
}
.content{
   padding: 16px;
}
content h2{
   text-align: center;
   font-size: 28px;
   margin: 10px;
}


body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
}


button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

input {
  padding: 8px;
  margin-top: 5px;
  width: 200px;
}


.error {
  color: red;
  font-weight: bold;
}

.error-box {
  border: 2px solid #ff4d4d;
  background-color: #ffe6e6;
  padding: 15px;
  margin-top: 15px;
  border-radius: 8px;
  color: #b30000;
}


.receipt-box {
  border: 2px dashed #333;
  background-color: #ffffff;
  padding: 20px;
  margin-top: 15px;
  border-radius: 8px;
  max-width: 400px;
}